#sec1
    .wrapper
        @apply flex flex-col lg_flex-row ml-5 lg_ml-8 xl_ml-12 2xl_ml-20 px-0
        @media screen and (min-width: 1024px)
            height: calc(100vh - #{$header-height})
            min-height: 550px
            max-height: 800px
        @media screen and (max-height: 700px) and (max-width:1080px)
            min-height: 600px
        %bottom_blocks
            @apply absolute bottom-0 right-0 bg-cover

            --width: 300px
            @media screen and (max-width:1280px)
                --width: 250px
            @media screen and (min-width:1024px)
                width: var(--width)
                height: calc(var(--width) * .8)
        .title
            @apply hidden
        .section_number
            @extend .section_number
            @apply text-350 hidden lg_block top-auto -bottom-4 -left-5
            line-height: 300px
        .order
            @apply lg_h-full lg_w-1/2 relative lg_pt-44
            .title
                @apply font-roboto text-24 sm_text-36 uppercase font-bold mb-3 flex flex-wrap p-0
            .description
                @apply font-medium hidden lg_block
                .text
                    @apply mb-8
                .text-button
                    @apply hidden lg_block
            .sm_img
                @extend %bottom_blocks
                @apply lg_block hidden
                background-image: url('/assets/img/sec1_2.jpg')
                
        .big_img
            @apply h-72 w-72 lg_mb-0 lg_h-full lg_w-1/2 bg-cover bg-center relative
            background-image: url('/assets/img/sec1_1.jpg')
            @media screen and (max-width:1024px)
                width: 80vw
                min-height: 80vw
            @media screen and (max-width:420px)
                width: 75vw
                min-height: 75vw
            .calculator
                @extend %bottom_blocks
                @apply bg-gradient-1 lg_bg-none lg_bg-color3-60 lg_hover_bg-color3 lg_duration-500 border-20 border-white lg_border-none -right-16 -bottom-24 lg_bottom-0 lg_left-0 text-white px-6 pt-4 lg_py-4 lg_px-8 xl_py-12 xl_px-16 hover_no-underline
                @media screen and (max-width:1024px)
                    @apply w-full
                .row1
                    .text
                        @apply text-14 sm_text-24 uppercase lg_font-bold
                .row2
                    @apply flex pr-4 lg_p-0 justify-between items-center
                    .sec-number
                        @apply text-54 lg_text-70 font-roboto font-thin
        .mobile_description
            @apply lg_hidden pt-36 flex flex-col
            .text
                @apply relative mb-6 pl-6
                .section_number
                    @apply block text-144 bottom-2 -left-2
                    line-height: 100px
            .text-button
                @apply self-center

#sec2-advantages
    .advantages
        @apply flex flex-wrap gap-y-8
        .wrap
            @apply flex flex-col lg_gap-12 lg_w-1/2 gap-y-8 lg_gap-y-20
            .adv
                @apply flex items-center lg_items-start gap-8 
                .icon
                    @apply h-8 w-8 lg_h-20 lg_w-20
                .text
                    @apply lg_pt-2
















#sec4-our_works
    
    .container 
        // max-width: 700px
        margin: 0 auto
    
    .slider__wrapper 
        overflow: hidden
    .slider__control
        @apply bg-transparent hidden lg_flex
        &:before
            @apply bg-none w-4 h-4 border-t border-gray-900
        &:nth-child(2)
            @apply -left-10
            &:before
                @apply border-l -rotate-45
        &:nth-child(3)
            @apply -right-10
            &:before
                @apply border-r rotate-45

    .slider__item 
        @apply relative flex max-w-full justify-center items-center
        &:before
            @apply bg-gradient-2 absolute inset-0
            content: ''
        flex: 0 0 100%
        color: rgba(255,255,255, 0.8)
        font-size: 7rem
    
    .slider__indicators 
        @apply top-full mt-8 flex lg_hidden gap-3
        li
            @apply bg-transparent border-1 border-color3 h-4 w-4 rounded-full box-border
            &.active
                @apply bg-gradient-1 border-none