.radial
  @apply absolute
  opacity: .2
  z-index: -3
  width: 1000px
  height: 1100px
  background-image: radial-gradient(#DC5953 0%, transparent 70%)

#sec1
    &>.title
        @apply hidden
    .wrapper
        @apply flex flex-col lg_flex-row ml-5 lg_ml-8 xl_ml-12 2xl_ml-20 px-0
        @media (min-width: 1024px)
            height: calc(100vh - #{$header-height})
            min-height: 550px
            max-height: 800px
        @media (max-height: 700px) and (max-width:1080px)
            min-height: 600px
        %bottom_blocks
            @apply absolute bottom-0 right-0 bg-cover

            --width: 300px
            @media (max-width:1280px)
                --width: 250px
            @media (min-width:1024px)
                width: var(--width)
                height: calc(var(--width) * .8)
        .section_number
            @extend .section_number
            @apply text-350 hidden lg_block top-auto -bottom-4 -left-5
            line-height: 300px
        .order
            @apply lg_h-full lg_w-1/2 relative lg_pt-44
            .title
                @apply font-roboto text-24 sm_text-36 uppercase font-bold mb-3 flex flex-wrap p-0
            .description
                @apply font-medium hidden lg_block
                .text
                    @apply mb-8
                .text-button
                    @apply hidden lg_block
            .sm_img
                @extend %bottom_blocks
                @apply lg_block hidden
                background-image: url('/assets/img/sec1_2.jpg')
                
        .big_img
            @apply h-72 w-72 lg_mb-0 lg_h-full lg_w-1/2 bg-cover bg-center relative
            background-image: url('/assets/img/sec1_1.jpg')
            @media (max-width:1024px)
                width: 80vw
                min-height: 80vw
            @media (max-width:420px)
                width: 75vw
                min-height: 75vw
            .calculator
                @extend %bottom_blocks
                @apply bg-gradient-1 lg_bg-none lg_bg-color3-60 lg_hover_bg-color3 lg_duration-500 border-20 border-white lg_border-none -right-16 -bottom-24 lg_bottom-0 lg_left-0 text-white px-6 pt-4 lg_py-4 lg_px-8 xl_py-12 xl_px-16 hover_no-underline
                @media (max-width:1024px)
                    @apply w-full
                .row1
                    .text
                        @apply text-14 sm_text-24 uppercase lg_font-bold
                .row2
                    @apply flex pr-4 lg_p-0 justify-between items-center
                    .sec-number
                        @apply text-54 lg_text-70 font-roboto font-thin
        .mobile_description
            @apply lg_hidden pt-36 flex flex-col
            .text
                @apply relative mb-6 pl-6
                .section_number
                    @apply block text-144 bottom-2 -left-2
                    line-height: 100px
            .text-button
                @apply self-center

#sec2-advantages
    .radial:nth-child(1)
        right: -250px
        top: -450px
        @media (max-width:1024px)
            scale: .8
            top: -500px
        @media (max-width:640px)
            right: auto
            left: -60px

    .radial:nth-child(2)
        @apply hidden lg_block
        transform: scale(.6)
        right: 50px
        top: -150px
    .radial:nth-child(3)
        @apply hidden lg_block
        transform: scale(.6)
        transform: scale(.4)
        top: -140px
        left: -180px

    .advantages
        @apply flex flex-wrap gap-y-8
        .wrap
            @apply flex flex-col lg_gap-12 lg_w-1/2 gap-y-8 lg_gap-y-20
            .adv
                @apply flex items-center lg_items-start gap-8 
                .icon
                    @apply h-8 w-8 lg_h-20 lg_w-20
                .text
                    @apply lg_pt-2






#sec3-calculator
    @import modules/calculator







#sec4-our_works
    .wrapper
        .radial:nth-child(1)
            right: -500px
            top: -130px
            @media (max-width:1024px)
                scale: .8
                top: 100px
        .radial:nth-child(2)
            @apply hidden lg_block
            left: -400px
            top: -200px
        .radial:nth-child(3)
            @apply hidden lg_block
            transform: scale(.5)

        .slider
            @apply mx-auto
            @media (max-width:1024px)
                max-width: 360px
            // .swiper-button
            //     &-prev
            //         @apply -left-10
            //     &-next
            //         @apply -right-10
            .slider__item 
                @apply relative flex justify-center items-center
                &:before
                    @apply bg-gradient-2 absolute inset-0
                    content: ''
                flex: 0 0 100%
                img
                    @apply w-full
    
#sec5
    .radial:nth-child(1)
        @apply lg_hidden
        top: 450px
        left: -400px
    .goods
        @apply flex flex-wrap gap-16 lg_gap-48
        .good
            @apply flex-col lg_w-2/5
            max-width: 460px
            img
                @apply mb-10
            h3.title
                @apply text-18 font-semibold lg_text-24 pt-0 mb-3 px-0
            .description
                @apply mb-12
                p
                    @apply mb-1

#sec6
    .radial
        right: -400px
        top: -400px
        @media (max-width: 640px)
            top: 200px
    .items
        @apply flex flex-wrap gap-12 2xl_gap-16
        .item
            @apply relative
            img
                @apply ml-24 lg_ml-16 w-20 lg_w-auto mb-8 lg_mb-0
            .section_number 
                @apply lg_static left-0 lg_left-6 top-6 lg_top-12 text-60 opacity-50
            .content
                @apply ml-10
                .title
                    @apply px-0 pt-0 lg_pt-2 mb-3 font-semibold text-18

#sec7-examples_and_prices
    .wrapper
        @apply px-0 lg_px-32
        .radial:nth-child(1)
            @apply hidden lg_block
            transform: scale(.5)
            top: -500px
            left: -400px
        .slider 
            @apply px-0 2xl_px-24
            @media (max-width:1024px)
                @apply mx-auto
                max-width: 500px
            
            .slider__items
                .slider__item 
                    @apply flex justify-center p-6 
                    max-width: 100%
                    flex: 0 0 100%
                    @media (min-width:1024px)
                        max-width: 50%
                        flex: 0 0 50%
                    @media (min-width:1280px)
                        max-width: 33.33333333%
                        flex: 0 0 33.33333333%
                    .item_wrapper
                        @apply flex-col bg-white shadow-1
                        .content
                            @apply py-4 lg_py-8 px-4 lg_px-14 flex flex-col
                            .params
                                @apply lg_mb-8
                                .param 
                                    @apply flex justify-between mb-4
    
    .slider__control
        &:nth-child(2)
            @apply -left-4 lg_-left-10
        &:nth-child(3)
            @apply -right-4 lg_-right-10

    .slider__indicators
        @apply lg_flex
        li
            @apply lg_h-1 lg_rounded-none lg_border-none lg_bg-color3 lg_opacity-10 lg_w-32
            &.active
                @apply lg_bg-none lg_opacity-50
        
#sec8-reviews
    .wrapper
        @apply px-2 lg_px-20
        .radial:nth-child(1)
            transform: scale(.5)
            top: -500px
            right: -400px
            @media (max-width: 1280px)
                right: auto
                left: -400px
        .radial:nth-child(2)
            @apply hidden xl_block
            left: -300px
            top: 0
        .title 
            @apply p-0 m-0 pl-6 font-semibold mb-3
        .slider 
            @media (max-width:1024px)
                @apply mx-auto
            .slider__items
                @apply flex xl_grid xl_grid-cols-2
                .slider__item 
                    @apply flex justify-center p-6 
                    max-width: 100%
                    flex: 0 0 100%
                    .item_wrapper
                        @apply p-6 flex gap-8 bg-white shadow-1
                        .avatar
                            @apply h-24 w-24 flex-shrink-0 xl_self-center bg-gray-300 rounded-full bg-center bg-cover
                        .content 
                            @apply flex flex-col gap-3 text-14
                            .inst 
                                @apply font-semibold
        
            .slider__control
                @apply xl_hidden
                &:nth-child(2)
                    @apply -left-4 lg_-left-10
                &:nth-child(3)
                    @apply -right-4 lg_-right-10

            .slider__indicators
                @apply lg_flex
                li
                    @apply lg_h-1 lg_rounded-none lg_border-none lg_bg-color3 lg_opacity-10 lg_w-32
                    &.active
                        @apply lg_bg-none lg_opacity-50

    
#sec9
    .wrapper 
        @apply flex lg_px-20 flex-col gap-8 xl_flex-row-reverse xl_justify-between xl_gap-36
        .image
            @apply flex-shrink-0 w-max max-w-full relative
            .radial:nth-child(1)
                transform: scale(.8)
                top: -500px
                right: -350px
                @media (min-width: 1280px)
                    top: -400px
                    right: -400px

        .questions
            @apply w-full
            .quest
                @apply mb-6 cursor-pointer
                .question
                    @apply font-bold flex justify-between
                    max-width: 500px
                    .angle-arrow
                        @apply border-gray-900 duration-500
                    &[aria-expanded="true"]
                        .angle-arrow
                            @apply rotate-135
                .answer 
                    .collapse-body
                        @apply pt-3 cursor-default text-16
                        ul
                            @apply list-inside list-disc
                        p
                            @apply mb-1

#sec10
    .wrapper
        @apply lg_flex gap-12
        .radial:nth-child(1)
            transform: scale(.5)
            top: -500px
            left: -400px
            @media (max-width:1024px)
                transform: scale(1)
                top: -150px

        .radial:nth-child(2)
            @apply hidden lg_block
            transform: scale(.5)
            right: -400px
            bottom: -600px
            
        .image
            @apply hidden lg_block lg_w-1/2 ml-12
        form
            @apply flex flex-col gap-8 lg_w-1/2
            label
                @apply flex flex-col gap-3
                .text 
                    @apply font-semibold
                input
                    @apply bg-white p-4 border border-color3
            .agreement
                @apply text-14 font-thin 
            .submit
                @apply w-56