- 
    var navItems = [
        {'text': 'Калькулятор стоимости', 'link': '#calculator'}, 
        {'text': 'Наши работы', 'link': '#our_works'}, 
        {'text': 'Примеры и цены', 'link': '#examples_and_prices'}, 
        {'text': 'Отзывы', 'link': '#reviews'}
        ];
- 
    var socials = [
        {'link': '', 'title': 'WhatsApp', 'icon': 'whatsapp'}, 
        {'link': '', 'title': 'Email', 'icon': 'mail'}, 
        ]
- var phoneNumber = '+7 495 115-38-16'