- var brandName = 'picture-perfect'
- var siteAddress = 'picture-perfect.ru'
- var phoneNumberMsc = '+7 (495) 115-38-16' // Main number
- var phoneNumber = '+7 (968) 603-85-98'
- var freePhoneNumber = '8 (800) 302-2532'
- var phoneNumberSpb = '+7 (812) 408-08-17'
- var email = 'zakaz@picture-perfect.ru'
- var address = 'Адрес: г. Москва<br>МКАД 24 км вл. 3'
- var workSchedule = "ПН-ПТ - c 10:00 до 18:00"
- var paymentDetailsLink = '/assets/files/payment-details.pdf'
- 
    var navItems = [
        {'text': 'Калькулятор стоимости', 'link': '#sec3-calculator'}, 
        {'text': 'Наши работы', 'link': '#sec4-our_works'}, 
        {'text': 'Примеры и цены', 'link': '#sec7-examples_and_prices'}, 
        {'text': 'Отзывы', 'link': '#sec8-reviews'}
        ];

- 
    var messengers = {
        whatsapp: {
            icon: 'whatsapp',
            link: ''
        },
    }
- 
    var socials = {
        vk: {
            icon: 'vk',
            link: ''
        },
        fb: {
            icon: 'fb', 
            link: ''
        },
        ok: {
            icon: 'ok', 
            link: ''
        },
        twitter: {
            icon: 'twitter',
            link: ''
        },
        youtube: {
            icon: 'youtube', 
            link: ''
        },
        instagram: {
            icon: 'instagram', 
            link: ''
        },
    }

- 
    var payments = {
        visa: {
            icon: 'visa',
        },
        mastercard: {
            icon: 'mastercard',
        },
        mir: {
            icon: 'mir',
        },
        yoomoney: {
            icon: 'yoomoney',
        },
    }
- 
    var shipping = {
        CDEK: {
            icon: 'cdek',
        },
        EMS: {
            icon: 'ems',
        }
    }
- 
    var footerLinks = [
        {text: 'Политика конфиденциальности', link: ''},
        {text: 'Условия публичной оферты', link: ''},
        {text: 'Узнайте о скидках и акциях', link: ''},
        {text: 'Для сотрудничества', link: ''}
    ]
