+section('sec2-advantages', '02', 'Почему выбирают нас?').relative
    .blured-ellipse.-right-56.lg_-right-24.-top-32.lg_-top-64
    .blured-ellipse.hidden.lg_block.scale-40.left-0.top-8
    .blured-ellipse.hidden.lg_block.scale-50.right-64.top-8
    .advantages
        .wrap
            .adv 
                +icon('money')
                .text Мы работаем без предоплаты
            .adv 
                +icon('shipping_car')
                .text Срочное изготовление #[br] и бесплатная доставка по Москве
        .wrap
            .adv 
                +icon('printer')
                .text Самое современное оборудование #[br] и технологии
            .adv 
                +icon('gift')
                .text Подарок на выбор каждому клиенту