+section('sec2-advantages', '02', 'Почему выбирают нас?').relative
    +radial(3)
    .advantages
        .wrap
            .adv 
                +icon('money')
                .text Мы работаем без предоплаты
            .adv 
                +icon('printer')
                .text Самое современное оборудование #[br] и технологии
        .wrap
            .adv 
                +icon('shipping_car')
                .text Срочное изготовление #[br] и бесплатная доставка по Москве
            .adv 
                +icon('gift')
                .text Подарок на выбор каждому клиенту