+section('sec4-our_works', '04', 'Наши работы') 
    +radial(3)
    .slider

        //- .swiper
        //-     .swiper-wrapper
        //-         for image in ourWorks.images
        //-             .swiper-slide
        //-                 img(src=image.link)
        //-         for image in ourWorks.imagesMobile
        //-             .swiper-slide.mobile
        //-                 img(src=image.link)
        //- .swiper-button-prev
        //- .swiper-button-next

        .slider__wrapper
            .slider__items
                for image in ourWorks.images
                    .slider__item
                        img(data-src=image.link).lazy
                for image in ourWorks.imagesMobile
                    .slider__item.mobile
                        img(data-src=image.link).lazy

        a.slider__control(href='#' data-slide='prev')
        a.slider__control(href='#' data-slide='next')
        ol.slider__indicators

