+section('sec5', '05', 'Что мы предлагаем') 
    .goods
        .good
            img(src='/assets/img/sec5_1.jpg')
            h3.title Коллаж на холсте
            .description
                p Хотите написать интересную историю из любимых фотографий? Мы предлагаем создать оригинальный фотоколлаж, который без слов расскажет о самых ярких моментах вашей жизни!
                p Универсальное решение для поздравления #[br]с юбилеем, днем рождения, знаменательной датой  и просто – для поднятия настроения.
            +textBtn('Узнать больше').lg_hidden
                
        .good.lg_-translate-y-24
            img(src='/assets/img/sec5_2.jpg')
            h3.title Портреты в художественных стилях
            .description
                p Портреты могут выполняться в различных стилях: классических, фэнтезийных. Цветовую гамму и стиль оформления подбираете вы.
                p Если вы знаете к какому интерьеру подойдёт подарок, мы поможем вам создать идеальную картину. Ваша фантазия нее имеет границ, а мы сможем воплотить её в жизнь!
            +textBtn('Узнать больше') 
