extends parts/layouts/default.pug

block variables
    - var TITLE = 'Холст на заказ'

append head 
    link(rel="stylesheet" href="/assets/css/chief-slider.min.css")
    script(defer src="/assets/js/chief-slider.min.js")
    script(defer src="/assets/js/toggle-showing-items.js")

block content
    include parts/index/sec1.pug
    include parts/index/sec2.pug
    include parts/index/sec3.pug
    include parts/index/sec4.pug
    include parts/index/sec5.pug
    include parts/index/sec6.pug
    include parts/index/sec7.pug
    include parts/index/sec8.pug
    include parts/index/sec9.pug
    include parts/index/sec10.pug
    
    script(src="/assets/js/pages/index.js")