@import "index.css";
@import "fonts";
@import "variables";
@import "mixins";
@import "templates";

body {
  @apply h-screen flex flex-col;
  font-family: Raleway;
  font-size: 14px;
}
svg {
  height: 20px;
  width: 20px;
  fill: #3c3e42;
}
.gradient-1 {
  background: linear-gradient(265.78deg, #dc5953 6.89%, #fd6f31 95.01%);
}
a:hover{
  @apply underline;
}
@import "parts/header";
@import "parts/footer";
